*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
}


.container{
    padding: 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
    background-image: linear-gradient(to top right, #fff 0% 50%, rgba(220,38,112,1) 50% 100%);
}

nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 1052px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

nav div{
    display: flex;
    justify-content: center;
}

nav div span{
    background-image: linear-gradient(to bottom, #4f1977 0% 80%, #fdb016 80% 90%, #4f1977 90% 100%);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 5rem;
    color: #fff;
    border-radius: 10px;
}

ul{
    width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    /* margin: 1rem auto 0; */
}

@media (min-width: 1052px) {
    ul{
        flex-direction: row;
    }
}

ul li{
     background-color: #fff;
     padding: .5rem 1.5rem;
     margin: 10px 0 0 0;
     border-radius: 15px;
}

@media (min-width: 1052px) {
    ul li{
        margin: 0 1rem;
    }
}

iframe{
    border-radius: 25px;
}

.sections{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
    gap: 2rem;
}

.left{
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1052px){
    .sections{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
    }
    .left{
        grid-row: auto;
    }
}


.btn{
    background: linear-gradient(90deg, rgba(142,13,106,1) 0%, rgba(220,38,112,1) 50%);
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 20px;
}

.btn__link{
    display: flex;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    justify-content: center;
}



.container__iframe{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    grid-row: 1 / 2;
}

.responsive__iframe{
position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cards{
    max-width: 1500px;
    height: 17rem;
    background-color: #fcae18;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 1rem;
}


.card__logo{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

.card__container{
    max-width: 200px;
    margin: 1rem auto;
    background-color: #0f3178;
    border-radius: 15px;
    text-align: center;
}

.card__p{
    color: white;
    padding: 1rem;
}




