*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
}


.container{
    padding: 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
    background-image: linear-gradient(to top right, #fff 0% 50%, rgba(220,38,112,1) 50% 100%);
}

nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 1052px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

nav div{
    display: flex;
    justify-content: center;
}

nav div span{
    background-color: #4f1977;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 5rem;
    color: #fff;
}

ul{
    width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    /* margin: 1rem auto 0; */
}

@media (min-width: 1052px) {
    ul{
        flex-direction: row;
    }
}

ul li{
     background-color: #fff;
     padding: .5rem 1.5rem;
     margin: 10px 0 0 0;
     border-radius: 15px;
}

@media (min-width: 1052px) {
    ul li{
        margin: 0 1rem;
    }
}


.sections{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 3rem;
}

.right{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    grid-row: 1 / 2;
}

.responsive__iframe{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1052px) {
    .sections{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        column-gap: 2rem;
    }
    .right{
        grid-column: 2 / 3;
    }
}


.left{
    padding: 10rem 0; 
}

.left p{
    font-size: 1.2rem;
}
.cards{
    max-width: 1500px;
    height: 20rem;
    background-color: yellow;
    margin: 0 auto;
}

.btn{
    background: linear-gradient(90deg, rgba(142,13,106,1) 0%, rgba(220,38,112,1) 50%);
    max-width: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.btn__link{
    display: flex;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    justify-content: center;
}

