*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
}

body{
    background-color: pink;
}

.container{
    padding: 1.5rem;
}

nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 970px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

nav div{
    display: flex;
    justify-content: center;
}

nav div span{
    background: linear-gradient(90deg, rgba(142,13,106,1) 0%, rgba(220,38,112,1) 50%);
    font-size: 2rem;
    font-weight: bold;
    padding: 0 5rem;
}

ul{
    width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    /* margin: 1rem auto 0; */
}

@media (min-width: 970px) {
    ul{
        flex-direction: row;
    }
}

ul li{
    background-color: #fff;
    margin: 0 1rem;
    padding: .5rem 1.5rem;
    border-radius: 15px;
    background-color: #fff;
}

/* .sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
} */

.sections{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 3rem;
}
.right{
    grid-row: 1 / 2;
}

@media (min-width: 970px) {
    .sections{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        column-gap: 2rem;
    }
    .right{
        grid-column: 2 / 3;
    }
}


@media (min-width: 970px) {
    
}

.left{
    padding: 10rem 0; 
}

.left p:first-child{
    padding-bottom: 2rem;
}

.right{

}

.right iframe{
    border-radius: 20px;
}

.btn{
    background: linear-gradient(90deg, rgba(142,13,106,1) 0%, rgba(220,38,112,1) 50%);
    display: flex;
    padding: 1.5rem;
    margin-top: 3rem;
    border-radius: 20px;
}


